@{
    ViewData["Title"] = "Goods and Sales Store";
}

<div class="text-center">
    Welcome to The Goods and Sales Store.
    <br />
    <a asp-controller="Items" asp-action="Index">Click here to begin shopping!</a>
</div>