@{
    ViewData["Title"] = "Items For Sale";
}

<div class="text-center">
    Welcome to The Goods and Sales store.
    <br />
    <a asp-controller="Items" asp-action="Index">Click here to begin shopping!</a>
</div>